
.w1725{width: 100%; max-width:1725px; margin-left: auto; box-sizing:border-box;}
.w1565{width: 100%; max-width:1565px; margin-left: auto; box-sizing:border-box;}
.wrap{overflow: hidden;}

.mv{position: relative;}
.mv .scroll{position:absolute; bottom: 125px; left: 126px; z-index: 100;}
.mv .scroll::after{content:url(../img/scrollDown_arrow.png); position:absolute; bottom: -25px; left: calc(50% - 1px); transform:translateX(-50%); animation:scroll 1s infinite alternate}
.mv .fp-tableCell{padding-top: 0; vertical-align: top; box-sizing:border-box;}
.mv .slide_wrap{position: relative; font-size:0;}
.mv .slide_wrap .slide_ctn{width: 100%; height: 100vh; overflow: hidden;}
.mv .slide_wrap .slide_ctn .slick-list,
.mv .slide_wrap .slide_ctn .slick-track{height: 100%;}
.mv .slide_wrap .slide_ctn .item{top: 0; left: 0; overflow: hidden;}
.mv .slide_wrap .slide_ctn .item .bg{position:relative; top: 0; left: 0; width: 100%; height: 100%; transition:1.4s;}
.mv .slide_wrap .slide_ctn .item .bg video{min-width: 100%; min-height: 100%; width: auto; height: auto;}
.mv .slide_wrap .slide_ctn .item .bg02{background:url(/img/main/mv01.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_ctn .item .bg03{background:url(/img/main/mv02.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_ctn .item .bg04{background:url(/img/main/mv03.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_txt{position:absolute; width: 100%; top: 50%; left: 0; transform:translateY(-50%); box-sizing:border-box;}
.mv .slide_wrap .slide_txt .item{}
.mv .slide_wrap .slide_txt .item a{display:inline-block; vertical-align: middle; font-weight:400; font-size:13px; letter-spacing:.5px; color: #fff; width: 200px; height: 50px; border:1px solid #fff; box-sizing:border-box; text-align: center; line-height: 50px; margin-top: 84px;}
.mv .slide_wrap .slide_txt .item p{position:relative; box-sizing:border-box; font-family: 'Pretendard'; font-weight:500; font-size:16px; letter-spacing:-0.025em; color: #fff; margin-top: 38px;}
.mv .slide_wrap .slide_txt .item h2{font-weight:300; font-size:57px; letter-spacing:-0.025em; color: #fff; line-height:1.4; overflow: hidden; text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.38);}
.mv .slide_wrap .slide_txt .item h2 span{display:inline-block; }
.mv .slide_wrap .slide_ui{position:absolute; bottom: 100px; left: 0; width: 100%; /* max-width:1400px; margin: 0 auto;  */box-sizing:border-box;/*  transform:translateX(-50%); */}
.mv .slide_wrap .slide_ui .left_box{display:inline-block; width: calc(100% - 257px); vertical-align: middle;}
.mv .slide_wrap .slide_ui .left_box .play{display:inline-block; vertical-align: top; position:relative; width: 46px; height: 46px; cursor: pointer;}
.mv .slide_wrap .slide_ui .left_box .play .icon{position:absolute; top: 55%; left: 54%; transform:translate(-50%,-50%); color: #fff; font-size:32px;}
.mv .slide_wrap .slide_ui .left_box .play.on .icon{position:absolute; top: 55%; left: 50%; transform:translate(-50%,-50%); color: #fff; font-size:32px;}
.mv .slide_wrap .slide_ui .left_box .num{position: relative;top:4px;display:inline-block; vertical-align: top; margin-left: 24px;}
.mv .slide_wrap .slide_ui .left_box .num p{display:inline-block; vertical-align: bottom; font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:24px; color: #fff;}
.mv .slide_wrap .slide_ui .left_box .num .current{position:relative; top: 4px;}
.mv .slide_wrap .slide_ui .left_box .num span{vertical-align: bottom; position:relative; top: -2px; font-size:12px; color: #fff; margin: 0 2px;} 
.mv .slide_wrap .slide_ui .left_box .num .all{font-size:12px; }
.mv .slide_wrap .slide_ui .slide_btn{display:inline-block; width: 257px; vertical-align: middle; }
.mv .slide_wrap .slide_ui .slide_btn div{display:inline-block; vertical-align: middle; font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:12px; color: #fff; padding: 0 6px; cursor: pointer;}
.mv .slide_wrap .slide_ui .slide_btn span{display:inline-block; vertical-align:middle; position:relative; top: -1px; font-size:12px; color: #fff;}

@keyframes scroll{
	0%{bottom: -25px;}
	100%{bottom: -40px;}
}

/* ani */
.mv .slide_wrap .slide_txt .item.slick_now p span{animation:up 0.5s 1s both linear}
.mv .slide_wrap .slide_txt .item.slick_now h2 span{animation: up 1.2s 1s both} 
.mv .slide_wrap .slide_txt .item.slick_now h2:nth-of-type(2) span{animation: up 1.2s 1.2s both} 
.mv .slide_wrap .slide_txt .item.slick_now a{animation: fadeUp 1.2s 1.5s both}


@media screen and (max-width:1725px) {
	.mv .scroll{left: auto; right: 50px;}
}


/* ani tool */
@keyframes height{
	0%{height:100%}
	100%{height:0%}
}

@keyframes width{
	0%{width:0}
	100%{width:61%}
}

@keyframes scale{
	0%{transform:scale(0.6); opacity: 0;}
	100%{transform:scale(1); opacity: 1;}
}

@keyframes upDown{
	0%{transform:translateY(-40px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes up{
	0%{transform:translateY(100px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeUp{
	0%{transform:translateY(180px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fadeLeft{
	0%{transform:translateX(180px); opacity: 0;}
	100%{transform:translateX(0); opacity: 1;}
}

@keyframes fadeRight{
	0%{transform:translateX(-180px); opacity: 0;}
	100%{transform:translateX(0); opacity: 1;}
}

@keyframes move{
	0%{transform:translateX(-10px) translateY(-50%); opacity: 0;}
	100%{transform:translateX(10px) translateY(-50%); opacity: 1;}
}