

.w1725{width: 100%; max-width:1725px; margin-left: auto; box-sizing:border-box;}
.w1565{width: 100%; max-width:1565px; margin-left: auto; box-sizing:border-box;}
figure{margin: 0;}
.wrap{overflow: hidden;}

.section .fp-tableCell{box-sizing:border-box; padding-top: 60px;}
/* 怨듯넻���댄� */
.m_tit{}
.m_tit.tc{text-align: center;}
.m_tit h3{font-weight:bold; font-size:45px; letter-spacing:-0.025em; color: #222; line-height:1.4em}
.m_tit h3 em{color: #e30000;}
.m_tit p{font-weight:500; font-size:17px; color: #000; line-height:1.5em; margin-top:20px;}
.m_tit.c h3{color: #fff;}
.m_tit.c p{color: #fff;}
.m_tit p.c{color: #797979;}


/* 鍮꾩＜�� */
.mv{position: relative;}
.mv .scroll{position:absolute; bottom: 125px; left: 126px; z-index: 100;}
.mv .scroll::after{content:""; position:absolute; bottom: -25px; left: calc(50% - 2px); transform:translateX(-50%); width: 9px; height: 9px; background: #fff; border-radius:50%; animation:scroll 1s infinite alternate}
.mv .fp-tableCell{padding-top: 0; vertical-align: top;}
.mv .slide_wrap{position: relative; padding-top:100px; font-size:0;}
.mv .slide_wrap .slide_ctn{width: 100%; height: calc(100vh - 100px); overflow: hidden;}
.mv .slide_wrap .slide_ctn .slick-list,
.mv .slide_wrap .slide_ctn .slick-track{height: 100%;}
.mv .slide_wrap .slide_ctn .item{top: 0; left: 0; overflow: hidden;}
.mv .slide_wrap .slide_ctn .item .bg{position:relative; top: 0; left: 0; width: 100%; height: 100%; transition:1.4s;}
.mv .slide_wrap .slide_ctn .item .bg video{min-width: 100%; min-height: 100%; width: auto; height: auto;}
/* .mv .slide_wrap .slide_ctn .item .bg0{background:url(/img/main/mv01.jpg) 50% 50% no-repeat; background-size:cover} */
.mv .slide_wrap .slide_ctn .item .bg02{background:url(/img/main/mv01.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_ctn .item .bg03{background:url(/img/main/mv02.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_ctn .item .bg04{background:url(/img/main/mv03.jpg) 50% 50% no-repeat; background-size:cover}
.mv .slide_wrap .slide_txt{position:absolute; width: 100%; top: 50%; left: 0; transform:translateY(-50%); box-sizing:border-box;}
.mv .slide_wrap .slide_txt .item{}
.mv .slide_wrap .slide_txt .item a{display:inline-block; vertical-align: top; font-weight:bold; font-size:17px; letter-spacing:-0.025em; color: #fff; width: 200px; height: 47px; border:1px solid #fff; box-sizing:border-box; text-align: center; line-height: 44px; margin-top: 60px;}
.mv .slide_wrap .slide_txt .item p{position:relative; box-sizing:border-box; font-family: 'Pretendard'; font-weight:500; font-size:16px; letter-spacing:-0.025em; color: #fff; margin-top: 38px;}
/* .mv .slide_wrap .slide_txt .item p::after{content:""; position:absolute; bottom: 5px; left: 0; width: 0; height: 2px; background: #fff; transition:0.5s 1s} */
/* .mv .slide_wrap .slide_txt .item p span{display:inline-block; vertical-align: top; font-family: 'Montserrat', sans-serif; font-weight:500; font-size:21px; color: #fff; letter-spacing:-0.03em}  */
.mv .slide_wrap .slide_txt .item h2{font-weight:bold; font-size:57px; letter-spacing:-0.025em; color: #fff; line-height:1.3em; overflow: hidden;}
.mv .slide_wrap .slide_txt .item h2 span{display:inline-block; }
.mv .slide_wrap .slide_ui{position:absolute; bottom: 100px; left: 0; width: 100%; /* max-width:1400px; margin: 0 auto;  */box-sizing:border-box;/*  transform:translateX(-50%); */}
.mv .slide_wrap .slide_ui .left_box{display:inline-block; width: calc(100% - 257px); vertical-align: middle;}
.mv .slide_wrap .slide_ui .left_box .play{display:inline-block; vertical-align: top; position:relative; width: 46px; height: 46px; cursor: pointer;}
.mv .slide_wrap .slide_ui .left_box .play .icon{position:absolute; top: 50%; left: 52%; transform:translate(-50%,-50%); color: #fff; font-size:12px;}
.mv .slide_wrap .slide_ui .left_box .num{position: relative;top:4px;display:inline-block; vertical-align: top; margin-left: 24px;}
.mv .slide_wrap .slide_ui .left_box .num p{display:inline-block; vertical-align: bottom; font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:24px; color: #fff;}
.mv .slide_wrap .slide_ui .left_box .num .current{position:relative; top: 4px;}
.mv .slide_wrap .slide_ui .left_box .num span{vertical-align: bottom; position:relative; top: -2px; font-size:12px; color: #fff; margin: 0 2px;} 
.mv .slide_wrap .slide_ui .left_box .num .all{font-size:12px; }
.mv .slide_wrap .slide_ui .slide_btn{display:inline-block; width: 257px; vertical-align: middle; }
.mv .slide_wrap .slide_ui .slide_btn div{display:inline-block; vertical-align: middle; font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:12px; color: #fff; padding: 0 6px; cursor: pointer;}
.mv .slide_wrap .slide_ui .slide_btn span{display:inline-block; vertical-align:middle; position:relative; top: -1px; font-size:12px; color: #fff;}

@keyframes scroll{
	0%{bottom: -25px;}
	100%{bottom: -40px;}
}

/* �쒗뭹 */
.m_pro{font-size:0;}
.m_pro .fp-tableCell{padding-top: 100px;}
.m_pro .w1725{display:flex;}
.m_pro .m_tit{margin: 30px 0 0 20px;}
.m_pro .txt_box{position:relative; display:inline-block; width: 246px; vertical-align: top; margin-right: 84px;}
.m_pro .txt_box .btn_ctn{position:absolute; bottom: 0; left: 0;}
.m_pro .txt_box .btn_ctn > ul{}
.m_pro .txt_box .btn_ctn > ul > li{margin-bottom:20px;}
.m_pro .txt_box .btn_ctn > ul > li:last-of-type{margin-bottom:0;}
.m_pro .txt_box .btn_ctn > ul > li a{position:relative; display:inline-block; vertical-align: top; width: 246px; height: 70px; border-radius:35px; font-weight:600; font-size:16px; color: #fff; background: #c5c5c5; text-align:center; padding: 0 24px; box-sizing:border-box; line-height:70px}
.m_pro .txt_box .btn_ctn > ul > li a i{position:absolute; left: 24px; top: 50%; font-size:22px; display:inline-block; vertical-align: middle; transform:translateY(-50%);}
.m_pro .txt_box .btn_ctn > ul > li.bg_c a{background: #e30000; }
.m_pro .txt_box .btn_ctn .pop_ctn{display:none;  position:absolute; top:52px; left: 294px; width: 640px; border:1px solid #bababa; background: #fff; box-sizing:border-box; padding: 20px 10px; border-radius:10px; z-index: 20;}
.m_pro .txt_box .btn_ctn .pop_ctn .close_btn{position:absolute; top: 50%; left: -20px; width: 40px; height: 40px; border-radius:50%; background: #222; text-align: center; transform:translateY(-50%); cursor: pointer;}
.m_pro .txt_box .btn_ctn .pop_ctn .close_btn i{color: #fff; font-size:20px; margin: 10px 0;}
.m_pro .txt_box .btn_ctn .pop_ctn dl{display:inline-block; vertical-align: top; width: 50%; padding-left: 40px; box-sizing:border-box;}
.m_pro .txt_box .btn_ctn .pop_ctn dl dt{font-weight:bold; font-size:14px; color: #e30000; margin-bottom:4px;}
.m_pro .txt_box .btn_ctn .pop_ctn dl dd ul li{font-size:14px; color: #727272; margin-bottom:6px;}
.m_pro .txt_box .btn_ctn .pop_ctn dl dd ul li:last-of-type{margin-bottom:0;}
.m_pro .txt_box .btn_ctn .pop_ctn dl dd ul li span{font-weight:500; font-size:14px; color: #000;}
.m_pro .slide_wrap{display:inline-block; width: calc(100% - 330px); vertical-align: top;}
.m_pro .slide_wrap .slide_ui{position: relative;}
.m_pro .slide_wrap .slide_ui .slide_btn{position:absolute; bottom: 0; left: 0; display:inline-block; vertical-align: top; width: 52px; z-index: 10;}
.m_pro .slide_wrap .slide_ui .slide_btn > div{font-size:20px; padding: 10px 0; text-align: center; cursor: pointer;}
.m_pro .slide_wrap .slide_ui .slide_btn .num_box{position:relative; width: 100%; height: 52px; background:url(/img/main/bg_num.png) 50% 50% no-repeat; background-size:cover;font-family: 'Montserrat', sans-serif;}
.m_pro .slide_wrap .slide_ui .slide_btn .num_box .current{position:absolute; top: 0; left: 0;font-weight:bold; font-size:18px; color: #000000;}
.m_pro .slide_wrap .slide_ui .slide_btn .num_box .all{position:absolute; bottom: 0; right: 0; font-weight:bold; font-size:18px; color: #bebebe;}
.m_pro .slide_wrap .slide_ui .slide_dots{position:relative; display:inline-block; width: 600px; vertical-align: middle; padding-left: 80px; box-sizing:border-box; z-index: 8;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot{position:relative; width: 80%; padding: 30px 60px; box-sizing:border-box; transition:0.8s; margin: 5px 0;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on{width: 100%;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot::after{content:""; position:absolute; top: 0; left: 0; bottom: 0; right: 0; border:1px solid transparent; transition:0.3s}
.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt{}
.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt h4{font-weight:bold; font-size:26px; letter-spacing:-0.025em; color: #8a8a8a;transition:0.3s}
.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt p{font-weight:bold; font-size:14px; letter-spacing:-0.025em; color: #8a8a8a; text-transform: uppercase; margin-top:20px;transition:0.3s}
.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt br{display:none; }
.m_pro .slide_wrap .slide_ui .slide_dots .dot .arrow_img{position:absolute; top: 50%; transform:translateY(-50%); right: 60px; opacity: 0; transition:0.3s}
.m_pro .slide_wrap .slide_ui .slide_dots .dot .arrow_img img{}
.m_pro .slide_wrap .slide_ui .slide_dots .dot a{position:absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5;}
.m_pro .slide_wrap .slide_ctn{width: calc(100% - 503px); display:inline-block; vertical-align: middle; margin-left: -98px;}
.m_pro .slide_wrap .slide_ctn .item{position:relative; overflow: hidden; padding-bottom:15%;}
.m_pro .slide_wrap .slide_ctn .item .bg{position:absolute; top: 0; left: 0; right: 0; bottom: 0; background:url(/img/main/m_pro001.jpg) 50% 50% no-repeat; background-size:cover; width: 100%; height: 100%;}
.m_pro .slide_wrap .slide_ctn .item .bg02{background:url(/img/main/m_pro002.jpg) 50% 50% no-repeat; background-size:cover}
.m_pro .slide_wrap .slide_ctn .item .bg03{background:url(/img/main/m_pro003.jpg) 50% 50% no-repeat; background-size:cover}
.m_pro .slide_wrap .slide_ctn .item .bg04{background:url(/img/main/m_pro004.jpg) 50% 50% no-repeat; background-size:cover}
.m_pro .slide_wrap .slide_ctn .item .bg05{background:url(/img/main/m_pro005.jpg) 50% 50% no-repeat; background-size:cover}
/* hover */	
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on,
.m_pro .slide_wrap .slide_ui .slide_dots .dot:hover{box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35); background: #fff;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on::after,
.m_pro .slide_wrap .slide_ui .slide_dots .dot:hover::after{border-color:#000}
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on .txt h4,
.m_pro .slide_wrap .slide_ui .slide_dots .dot:hover .txt h4{color: #222;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on .txt p,
.m_pro .slide_wrap .slide_ui .slide_dots .dot:hover .txt p{color: #222;}
.m_pro .slide_wrap .slide_ui .slide_dots .dot.on .arrow_img,
.m_pro .slide_wrap .slide_ui .slide_dots .dot:hover .arrow_img{opacity: 1; animation:move 1s alternate infinite}

/* �고쁺 */
.m_since{position:relative; background:url(/img/main/main_bg01_1.jpg) 50% 0 no-repeat; background-size:cover; font-size:0;}
.m_since .fp-tableCell{padding-top: 0;}

.m_since > div{vertical-align: bottom;}
.m_since::after{content:""; position:absolute; }
.m_since .cont{width: 100%; max-width:1100px; margin-left: auto;}
.m_since .cont .mbox{padding: 100px 90px 80px; box-sizing:border-box;}
.m_since .cont .top{position:relative; background: #cc0000; max-width:1040px; box-sizing:border-box;  white-space: nowrap; width: 0%;  margin-left: 60px;}
.m_since .cont .top h3{position:relative; font-weight:bold; font-size:55px; color: #fff;}
.m_since .cont .top h3::after{content:""; position:absolute; bottom: 7px; left: 39%; width: 61%; height: 1px; background: #fff;}
.m_since .cont .top p{font-weight:400; font-size:18px; letter-spacing:-0.025em; color: #fff; margin-top:40px; line-height:1.5em}
.m_since .cont .bot{position:relative; background: #fff; box-sizing:border-box; padding: 80px 0px 80px 60px;}
.m_since .cont .bot::after{content:""; position:absolute; top: 0; bottom: 0; right: -100%; width: 100%; background: #fff; }
.m_since .cont .bot .item{position:relative; display:inline-block; vertical-align: top; box-sizing:border-box; width: 33.3%; padding-left: 70px;}
.m_since .cont .bot .item::after{content:""; position:absolute; top: 50%; right: 0; width: 1px; height: 220px; background: #cfcfcf; transform:translateY(-50%);}
.m_since .cont .bot .item:last-of-type::after{display:none; }
.m_since .cont .bot .item figure{display:inline-block; vertical-align: top; position:relative; }
.m_since .cont .bot .item figure::before{content:""; position:absolute; top: 0; right: 0; width: 8px; height: 8px; background: #e50e0e; border-radius:50%; mix-blend-mode: darken;}
.m_since .cont .bot .item:nth-of-type(1) figure::before{top: 30px; right: 8px;}
.m_since .cont .bot .item:nth-of-type(2) figure::before{top: 20px; right: 39px;}
.m_since .cont .bot .item:nth-of-type(3) figure::before{top: 5px; right: 8px;}


.m_since .cont .bot .item h4{font-weight:bold; font-size:28px; color: #000; letter-spacing:-0.025em; margin: 16px 0;}
.m_since .cont .bot .item p{font-size:15px; letter-spacing:-0.025em; color: #000; line-height:1.5em}
.m_since .cont .bot .item a{position:relative; display:inline-block; vertical-align: top; font-size:15px; font-weight:300; letter-spacing:-0.025em; color: #000; padding: 4px 12px 7px; width: 90px; border-radius:20px; border:1px solid #000; box-sizing:border-box; margin-top:26px; transition:0.3s}
.m_since .cont .bot .item a i{position:absolute; top: 49%; right: 12px; transform:translateY(-50%);  color: #000;  transition:0.3s}
.m_since .cont .bot .item a:hover{color: #cc0000; border-color:#cc0000}
.m_since .cont .bot .item a:hover i{color: #cc0000; right: 8px;}

/* 媛�移� */
.m_val{position:relative; background:url(/img/main/main_bg02_1.jpg) 50% 50% no-repeat; background-size:cover; overflow: hidden; font-size:0;}
.m_val .fp-tableCell{vertical-align: bottom;}
.m_val .m_tit{position:relative; z-index: 10;}
.m_val .m_tit h3{}
.m_val .m_tit p{margin-top: 40px;font-weight:400;}
.m_val .bg_box{position:absolute; top: 0; left: 0; width: 100%; height: 100%;}
.m_val .bg_box .bg{display:inline-block; vertical-align: top; width: 25%; height: 100%; background: #fff000;	z-index: 1; opacity: 0; transform:scale(0.8); transition:0.6s}
.m_val .bg_box .bg.on{transform:scale(1); opacity: 0.15;}
.m_val .ctn{display:flex; flex-wrap:wrap}
.m_val .ctn .item{position:relative; width: 25%; text-align: center; padding: 120px 0 110px; box-sizing:border-box;}
.m_val .ctn .item .txt{position:relative; z-index: 3;}
.m_val .ctn .item .txt .num{font-weight:bold; font-size:28px; letter-spacing:-0.025em; color: #e30001; margin-top: 15px;}
.m_val .ctn .item .txt h4{font-weight:bold; font-size:32px; letter-spacing:-0.025em; color: #fff; margin: 22px 0 28px;}
.m_val .ctn .item .txt p{font-size:18px; letter-spacing:-0.025em; color: #fff; transition:0.6s}
.m_val .ctn .item .go{position:relative; display:inline-block; width: 68px; height: 68px; vertical-align: top; border:2px solid #fff; box-sizing:border-box; font-weight: bold; font-size:19px; letter-spacing:-0.025em; color: #fff; line-height: 62px; margin-top:56px; z-index: 3; transition:0.6s}
.m_val .ctn .item a{position:absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5;}
.m_val .ctn .item.on .go{background: #e30001; border:2px solid #e30001}
.m_val .ctn .item.on .txt .num{margin-top: 0;}



/* 諛깆뾽 */
/*.m_val{position:relative; background:url(/img/main/main_bg02.jpg) 50% 50% no-repeat; background-size:cover; overflow: hidden;}
.m_val .svg_img{position:absolute; top: 0; left: 0; right: 0; bottom: 0;}
.m_val .svg_img .t{position:absolute; top: -160px; left: -190px; width: 50%; height: 100%;}
.m_val .svg_img .t .svg02 path{fill:#a6b7c1}
.m_val .svg_img .t .svg02 .cls-20{animation:ping001 3.4s infinite alternate;}
.m_val .svg_img .t .svg02 .cls-21{animation:ping002 3s infinite alternate;}
.m_val .svg_img .t .svg02 .cls-22{animation:ping003 5s infinite alternate;}
.m_val .svg_img .t .svg02 .cls-8{animation:move001 3.4s infinite alternate;} 
.m_val .svg_img .t .svg02 .cls-9{animation:move002 3s infinite alternate;}
.m_val .svg_img .t .svg02 .cls-10{animation:move003 5s infinite alternate;} 
.m_val .svg_img .t .svg02 .cls-11{animation:move001 3.4s infinite alternate;}
.m_val .svg_img .t .svg02 .cls-12{animation:move002 3s infinite alternate;} 
.m_val .svg_img .b img{animation:circle 50s infinite linear}


@keyframes ping001{
	0%{transform:translate(-76.25px,-26.32px);fill:#fff;}
	33%{transform:translate(-74.25px,-28.32px);}
	66%{transform:translate(-78.25px,-24.32px);}
	100%{transform:translate(-76.25px,-26.32px);fill:#a6b7c1; opacity: 0.3;}
}
@keyframes ping002{
	0%{transform:translate(-66.25px,-16.32px); fill:#fff;}
	100%{transform:translate(-76.25px,-26.32px); fill:#a6b7c1; opacity: 0.3;}
}
@keyframes ping003{
	0%{transform:translate(-71.25px,-36.32px); fill:#fff;}
	33%{transform:translate(-73.25px,-36.32px);}
	66%{transform:translate(-66.25px,-31.32px);}
	100%{transform:translate(-76.25px,-26.32px); fill:#a6b7c1; opacity: 0.3;}
}

@keyframes move001{
	0%{transform:translate(-76.25px,-26.32px);}
	33%{transform:translate(-74.25px,-28.32px);}
	66%{transform:translate(-78.25px,-24.32px);}
	100%{transform:translate(-76.25px,-26.32px);}
}

@keyframes move002{
	0%{transform:translate(-66.25px,-16.32px);}
	100%{transform:translate(-76.25px,-26.32px);}
}

@keyframes move003{
	0%{transform:translate(-71.25px,-36.32px);}
	33%{transform:translate(-73.25px,-36.32px);}
	66%{transform:translate(-66.25px,-31.32px);}
	100%{transform:translate(-76.25px,-26.32px);}
}

@keyframes circle{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}


.m_val .svg_img .b{position:absolute; bottom: -482px; right: -290px; width: 42%; height: 100%;}
.m_val .m_tit{position:relative; z-index: 10;}
.m_val .slide_wrap{position:relative; width: 100%; max-width:1400px; margin: 110px auto 0; z-index: 10;}
.m_val .slide_wrap .slide_ctn{max-width:1220px; margin: 0 auto;}
.m_val .slide_wrap .slide_ctn .slick_list{margin:0 -35px;}
.m_val .slide_wrap .slide_ctn .item{position:relative; padding-bottom:15%; overflow: hidden; margin:0 35px; background: #fff; border-radius:50%}
.m_val .slide_wrap .slide_ctn .item a{position:absolute; top: 0; right: 0; bottom: 0; left: 0;}
.m_val .slide_wrap .slide_ctn .item p{position:absolute; top: 50%; left: 0; width: 100%; transform:translateY(-50%); text-align: center; font-weight:500; font-size:26px; color: #777777;}
.m_val .slide_wrap .slide_ctn .item p span{position: relative;}
.m_val .slide_wrap .slide_ctn .item p span::after{content:""; position:absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #929292;}
.m_val .slide_wrap .slide_ctn .item:hover p,
.m_val .slide_wrap .slide_ctn .item.slick_now p{color: #cc0000;}
.m_val .slide_wrap .slide_ctn .item:hover p span::after,
.m_val .slide_wrap .slide_ctn .item.slick_now p span::after{background: #cc0000;}
.m_val .slide_wrap .slide_ui .slide_btn div{position:absolute; top: 50%; transform:translateY(-50%); cursor: pointer;}
.m_val .slide_wrap .slide_ui .slide_btn .prev{left: 0; display:none}
.m_val .slide_wrap .slide_ui .slide_btn .next{right: 0;}*/

/* 梨꾩슜 */
.m_careers{position:relative; background:url(/img/main/main_bg03_1.jpg) 50% 50% no-repeat; background-size:cover; overflow: hidden; font-size:0;}
.m_careers .fp-tableCell{padding-top: 0;}
.m_careers .w1557{padding-top: 60px;}
.m_careers .right{display:inline-block; width: 570px; vertical-align: top;}
.m_careers .right ul{margin-top:120px;}
.m_careers .right ul li{max-width:220px; border-bottom: 1px solid #fff; box-sizing:border-box; padding: 0 6px;}
.m_careers .right ul li a{display:inline-block; font-weight:500; font-size:23px; letter-spacing:-0.025em; vertical-align: top; color: #fff; padding: 16px 0;}
.m_careers .right ul li a i{ font-size:15px; color: #fff; margin-right: 8px;}
.m_careers .left{display:inline-block; width: calc(100% - 570px); vertical-align: top; background: #fff; box-sizing:border-box; padding: 60px 80px; margin-top:46px;}
.m_careers .left h4{position:relative; font-family: 'Pretendard'; font-weight:600; font-size:30px; color: #222;padding-bottom:24px; border-bottom: 1px solid #000;}
.m_careers .left h4 a{position:absolute; top: 50%; right: 0; font-family: 'Montserrat', sans-serif; font-size:15px; font-weight:500; color: #222; transform:translateY(-50%); text-transform: uppercase;}
.m_careers .left ul{}
.m_careers .left ul li{position:relative; border-bottom: 1px solid #e1e1e1; padding: 32px 16px 32px 0;}
.m_careers .left ul li p{display:inline-block; width: calc(100% - 64px); vertical-align: middle; font-family: 'Pretendard'; font-weight:300; font-size:20px; color: #222; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.m_careers .left ul li span{display:inline-block; width: 64px; text-align: center; vertical-align: middle;  font-size:17px; color: #aaaaaa;}
.m_careers .left ul li span.bg{color: #e50012;}
.m_careers .left ul li a{position:absolute; top: 0; left: 0; right: 0; bottom: 0;}

/* 怨좉컼吏��� */
.m_sup{font-size:0; background:url(/img/main/m_sup_bg01.jpg) 50% 50% no-repeat; background-size:cover;}
.m_sup .fp-tableCell{padding-top: 100px;}
.m_sup .top{}
.m_sup .top .m_tit{display:inline-block; width: 50%; vertical-align: top;}
.m_sup .top .link{display:inline-block; width: 50%; vertical-align: top;}
.m_sup .top .link ul{}
.m_sup .top .link ul li{position: relative; display:inline-block; width: calc(50% - 45px); vertical-align: top; margin-right: 90px;}
.m_sup .top .link ul li:nth-of-type(2n){margin-right: 0;}
.m_sup .top .link ul li::after{content:""; position:absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #000;}
.m_sup .top .link ul li::before{content:""; position:absolute; bottom: 0; left: 0; width: 0; height: 1px; background: #e30000; transition:0.4s; z-index: 3;}
.m_sup .top .link ul li a{position:relative; display:inline-block; width: 100%; vertical-align: top; font-family: 'Pretendard'; font-weight:600; font-size:24px; color: #000; padding: 22px 0 22px 57px; box-sizing:border-box;  transition:0.3s}
.m_sup .top .link ul li a .icon{position:absolute; top: 50%; left: 0; width: 36px; height: 36px; border-radius:50%; background: #000; color: #fff; text-align: center; transform:translateY(-50%); line-height:36px; transition:0.3s}
.m_sup .top .link ul li a .xi{position:absolute; top: 50%; right: 10px; transform:translateY(-50%); font-size:18px; color: #e30000; opacity: 0;}
.m_sup .top .link ul li:hover::before{width: 100%;}
.m_sup .top .link ul li:hover a{color: #e30000;}
.m_sup .top .link ul li:hover a .icon{background: #e30000;}

.m_sup .mid{position:relative; margin-top:30px;}
.m_sup .mid::after{content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:#f6f4f5}
.m_sup .mid .borad{display:flex; flex-wrap:wrap}
.m_sup .mid .borad .borad_tit{position:relative; display:inline-block; width: 188px; vertical-align: top; background: #e30000;}
.m_sup .mid .borad .borad_tit .p{position:absolute; top: 50%; left:0; transform:translateY(-50%); padding-left: 40px; box-sizing:border-box; width: 100%;}
.m_sup .mid .borad .borad_tit .p h3{font-weight:bold; font-size:32px; color: #fff; font-family: 'Pretendard'; margin-bottom:10px;}
.m_sup .mid .borad .borad_tit .p h4{font-weight:bold; font-size:16px; color: #fff; font-family: 'Pretendard'; line-height: 1.4em;}
.m_sup .mid .borad .borad_tit .p a{display:inline-block; vertical-align: top; width: 100%; font-family: 'Montserrat', sans-serif; font-weight:500; font-size:12px; color: #fff; text-transform: uppercase; margin-top: 30px;}
.m_sup .mid .borad .list{display:inline-block; width: calc(100% - 188px); vertical-align: top;background: #ffffff66; box-sizing:border-box; padding: 30px 40px;}
.m_sup .mid .borad .list .item{position:relative; display:inline-block; width: calc(25% - 15px); vertical-align: top; margin-right: 20px; border:1px solid #e1e1e1; background: #fff; box-sizing:border-box; padding: 40px 28px;}
.m_sup .mid .borad .list .item a{position:absolute; top: 0; right: 0; bottom: 0; left: 0;}
.m_sup .mid .borad .list .item:last-of-type{margin-right: 0;}
.m_sup .mid .borad .list .item .tag{font-weight:500; font-size:14px; color: #e50012; margin-bottom:26px;}
.m_sup .mid .borad .list .item .txt{font-weight:300; font-size:18px; color: #222; line-height:1.5em; white-space: normal; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 54px}
.m_sup .bot{margin-top:30px;}
.m_sup .bot > h4{font-weight:bold; font-size:22px; color: #222; font-family: 'Pretendard'; margin-bottom:6px;}
.m_sup .bot .search_pro{display:inline-block; width: 50%; vertical-align: middle;}
.m_sup .bot .search_pro .input_ctn{position: relative; height: 65px; width: 100%; }
.m_sup .bot .search_pro .input_ctn input{height: 100%; width: 100%; border:1px solid #e1e1e1; box-sizing:border-box; outline:none; font-size:18px; color:#222; padding:0 20px}
.m_sup .bot .search_pro .input_ctn button{position:absolute; top: 0; right: 0; width: 65px; height: 65px; background: none; border:none; cursor: pointer;}
.m_sup .bot .search_pro .input_ctn button i{position:relative; top: 4px;display:inline-block; width: 28px; height: 28px; background:url(/img/main/icon_searchRed.png) 50% 50% no-repeat; background-size:cover; }
.m_sup .bot .search_pro .list_tag{margin-top:20px;}
.m_sup .bot .search_pro .list_tag li{display:inline-block; vertical-align: top; margin-right: 10px; margin-bottom:10px;}
.m_sup .bot .search_pro .list_tag li:last-of-type{margin-right: 0; margin-bottom:0;}
.m_sup .bot .search_pro .list_tag li a{display:inline-block; vertical-align: top; font-weight:500; font-size:14px; color: #e30000; border:1px solid #e30000; box-sizing:border-box; padding: 5px 15px; border-radius:21px; transition:0.4s}
.m_sup .bot .search_pro .list_tag li:hover a{background: #e30000; color: #fff;}
.m_sup .bot .slide_borad{display:inline-block; width: calc(50% - 45px); box-sizing:border-box; margin-left: 45px; vertical-align: middle; border:1px solid #e1e1e1; box-sizing:border-box; padding: 40px; padding-left: 0; border-radius:10px; overflow: hidden;  background: #fff}
.m_sup .bot .slide_borad .item{position:relative; display:inline-block; width: 31%; vertical-align: top; white-space:nowrap; transition:0.8s}
.m_sup .bot .slide_borad .item::after{content:""; position:absolute; top: 0; right: 0; width: 1px; height: 78px; background: #e1e1e1;}
.m_sup .bot .slide_borad .item:last-of-type::after{display:none; }
.m_sup .bot .slide_borad .item .tit{display:inline-block; vertical-align: middle; width: 100%; text-align: center; box-sizing:border-box; padding-left: 40px; transition:0.8s;}
.m_sup .bot .slide_borad .item .tit h4{font-weight:bold; font-size:24px; letter-spacing:-0.025em; color: #a5a5a5;}
.m_sup .bot .slide_borad .item .tit a{display:inline-block; font-weight:bold; font-size:15px; letter-spacing:-0.025em; color: #fff; vertical-align: top; background: #a5a5a5; padding: 8px 15px; border-radius:5px; margin-top:15px;}
.m_sup .bot .slide_borad .item .txt{display:inline-block; vertical-align: middle; width: 0%; padding-left: 40px; box-sizing:border-box; transition:0.8s; overflow: hidden;}
.m_sup .bot .slide_borad .item .txt p{font-weight:300; font-size:16px; letter-spacing:-0.025em; color: #a5a5a5; line-height:1.5em;}
.m_sup .bot .slide_borad .item.on{width: 69%;}
.m_sup .bot .slide_borad .item.on .tit{width: 40%;}
.m_sup .bot .slide_borad .item.on .tit h4{color: #e30000;}
.m_sup .bot .slide_borad .item.on .tit a{background: #e30000; color: #fff;}
.m_sup .bot .slide_borad .item.on .txt{width: 60%;}
.m_sup .bot .slide_borad .item.on .txt p{opacity: 1;}


/* �댁뒪猷� */
.m_news{background: #f0f0f0; font-size:0;}
.m_news .ctn{margin-top:50px;}
.m_news .ctn .box{position:relative; display:inline-block; width: 50%; vertical-align: top;}
.m_news .ctn .box > h4{font-weight:bold; font-size:32px; color: #222222;} 
.m_news .ctn .box > h4 a{font-family: 'Montserrat', sans-serif; font-weight:500; font-size:12px; color: #222; text-transform: uppercase;}
.m_news .ctn .slide_wrap{margin-top:36px;}
.m_news .ctn .slide_wrap .slide_ui{position:absolute; top: -5px; right: 0;}
.m_news .ctn .slide_wrap .slide_ui .slide_btn div{display:inline-block; vertical-align: top; width: 50px; height: 50px; background: #fff; border:1px solid #e1e1e1; text-align: center; font-size:22px; color: #222; border-radius:50%; cursor: pointer; margin-right: 4px;}
.m_news .ctn .slide_wrap .slide_ui .slide_btn div:last-of-type{margin-right: 0;}
.m_news .ctn .slide_wrap .slide_ui .slide_btn div i{margin: 14px 0;}
.m_news .ctn .slide_wrap .slide_ctn{}
.m_news .ctn .slide_wrap .slide_ctn .slick-list{margin-right: -15px;}
.m_news .ctn .slide_wrap .slide_ctn .item{position:relative; margin-right: 15px; border:1px solid #e1e1e1}
.m_news .ctn .slide_wrap .slide_ctn .item a{position:absolute; top: 0; right: 0; bottom: 0; left: 0;}
.m_news .ctn .slide_wrap .slide_ctn .item figure{position:relative; padding-bottom:83%; overflow: hidden;}
.m_news .ctn .slide_wrap .slide_ctn .item figure img{position:absolute; top: -9999px; right: -9999px; bottom: -9999px; left: -9999px; max-width:inherit;  height: 100%; width: 100%; margin: auto;}
.m_news .ctn .slide_wrap .slide_ctn .item .txt{background: #fff; box-sizing:border-box; padding: 30px;border-top: 1px solid #e1e1e1;}
.m_news .ctn .slide_wrap .slide_ctn .item .txt p{font-family: 'Pretendard'; font-size:14px; color: #222; margin-bottom:16px;}
.m_news .ctn .slide_wrap .slide_ctn .item .txt h4{font-family: 'Pretendard'; font-weight:600; font-size:24px; color: #222; line-height:1.4em; white-space: normal; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 68px}
.m_news .ctn .you{ width: calc(50% - 85px); border:1px solid #e1e1e1; box-sizing:border-box;margin-left: 85px;}
.m_news .ctn .you .video_ctn{}
.m_news .ctn .you .video_ctn figure{box-sizing:border-box; padding: 25px 0 25px 45px; border-bottom: 1px solid #e1e1e1;}
.m_news .ctn .you .video_ctn figure img{max-width:140px;}
.m_news .ctn .you .video_ctn .video{position:relative; padding-bottom:67.7%; overflow: hidden;}
.m_news .ctn .you .video_ctn .video iframe{position:absolute; top: 50%; left: 50%; transform:translate(-50%,-50%); max-width:inherit; width: 100%;}
.m_news .ctn .you .video_ctn .video .play_v{position:absolute; top: 0; left: 0; bottom: 0; right: 0; cursor: pointer;}
.m_news .ctn .you .video_ctn .video .stop_v{display:none; position:absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer;}
.m_news .ctn .you .video_ctn .video .video_tit{position:absolute; bottom: 0; left: 0; width: 100%; background: #ffffff4d; text-align: center;}
.m_news .ctn .you .video_ctn .video .video_tit p{font-weight:500; font-size:24px; letter-spacing:-0.025em; line-height:100px; color: #fff;}

/* ani */


.m_pro.a_on .m_tit h3{animation:fadeRight 0.8s 0.8s both}
.m_pro.a_on .m_tit p{animation:up 0.8s 0.8s both}
.m_pro.a_on .txt_box .btn_ctn > ul > li{animation:up 0.8s 1.2s both}
.m_pro.a_on .slide_wrap .slide_ui .slide_btn{animation:fadeIn 0.8s 1.2s both}
.m_pro.a_on .slide_wrap .slide_ui .slide_dots{animation:fadeIn 0.8s 1.2s both}

/* .m_pro .slide_wrap .slide_ctn .item.slick-active{animation:scale 1.5s 0.1s both} */

.mv .slide_wrap .slide_txt .item.slick_now p span{animation:up 0.5s 1s both linear}
.mv .slide_wrap .slide_txt .item.slick_now h2 span{animation: up 1.2s 1s both} 
.mv .slide_wrap .slide_txt .item.slick_now h2:nth-of-type(2) span{animation: up 1.2s 1.2s both} 
.mv .slide_wrap .slide_txt .item.slick_now a{animation: fadeUp 1.2s 1.5s both}

.m_sup .top .link ul li:hover a .xi{animation:move 1s alternate infinite}

.m_since .cont .top h3{overflow: hidden;}
.m_since .cont .top p{overflow: hidden;}
.m_since .cont .top p span,
.m_since .cont .top h3 span{display:inline-block; }


.m_since.a_on .cont .top{animation:width02 1.5s 0.8s both}
.m_since.a_on .cont .top h3 span span{animation:fadeIn 0.4s 1.4s both}
.m_since.a_on .cont .top h3::after{animation:width 0.8s 2.4s both}
.m_since.a_on .cont .top p span span{animation:fadeIn 0.4s 1.4s both}
.m_since.a_on .cont .bot .item:nth-of-type(1){animation:scale 0.8s 1.4s both}
.m_since.a_on .cont .bot .item:nth-of-type(2){animation:scale 0.8s 1.6s both}
.m_since.a_on .cont .bot .item:nth-of-type(3){animation:scale 0.8s 1.8s both}

.m_val.a_on .m_tit h3{animation:up 0.8s 0.9s both}
.m_val.a_on .m_tit p{animation:up 0.8s 1.1s both}
.m_val.a_on .ctn .item:nth-of-type(1){animation:scale 0.8s 0.8s both}
.m_val.a_on .ctn .item:nth-of-type(2){animation:scale 0.8s 1s both}
.m_val.a_on .ctn .item:nth-of-type(3){animation:scale 0.8s 1.2s both}
.m_val.a_on .ctn .item:nth-of-type(4){animation:scale 0.8s 1.4s both}
/* .m_val.a_on .slide_wrap .slide_ctn .item:nth-of-type(1){animation:scale 0.8s 0.8s both}
.m_val.a_on .slide_wrap .slide_ctn .item:nth-of-type(2){animation:scale 0.8s 1s both}
.m_val.a_on .slide_wrap .slide_ctn .item:nth-of-type(3){animation:scale 0.8s 1.2s both}
.m_val.a_on .slide_wrap .slide_ctn .item:nth-of-type(4){animation:scale 0.8s 1.4s both} */

.m_careers.a_on .m_tit h3{animation:fadeRight 0.8s 0.8s both}
.m_careers.a_on .right ul li:nth-of-type(1){animation:up 0.8s 1s both}
.m_careers.a_on .right ul li:nth-of-type(2){animation:up 0.8s 1.2s both}
.m_careers.a_on .right ul li:nth-of-type(3){animation:up 0.8s 1.4s both}
.m_careers.a_on .left{animation:scale 1.2s 1s both}

.m_sup.a_on .top .m_tit h3{animation:fadeRight 0.8s 0.8s both}
.m_sup.a_on .top .m_tit p{animation:fadeRight 0.8s 0.8s both}
.m_sup.a_on .top .link ul li:nth-of-type(1){animation:fadeRight 0.8s 1s both}
.m_sup.a_on .top .link ul li:nth-of-type(2){animation:fadeRight 0.8s 1.2s both}
.m_sup.a_on .top .link ul li:nth-of-type(3){animation:fadeRight 0.8s 1s both}
.m_sup.a_on .top .link ul li:nth-of-type(4){animation:fadeRight 0.8s 1.2s both}
.m_sup.a_on .mid::after{animation:height 0.8s 0.6s both}
.m_sup.a_on .bot > h4,
.m_sup.a_on .mid .borad h4{animation:fadeIn 0.8s 0.8s both}
.m_sup.a_on .mid .borad .list .item:nth-of-type(1){animation:scale 0.8s 1s both}
.m_sup.a_on .mid .borad .list .item:nth-of-type(2){animation:scale 0.8s 1.2s both}
.m_sup.a_on .mid .borad .list .item:nth-of-type(3){animation:scale 0.8s 1.4s both}
.m_sup.a_on .mid .borad .list .item:nth-of-type(4){animation:scale 0.8s 1.6s both}
.m_sup.a_on .bot .slide_borad,
.m_sup.a_on .bot .search_pro{animation:fadeUp 0.8s 1.4s both}

.m_news.a_on .m_tit h3{animation:up 0.8s 0.8s both}
.m_news.a_on .m_tit p{animation:up 0.8s 1s both}
.m_news.a_on .ctn .slide_wrap .slide_ui .slide_btn,
.m_news.a_on .ctn .box > h4{animation:fadeIn 0.8s 1.2s both}
.m_news.a_on .ctn .slide_wrap .slide_ctn{animation:scale 0.8s 1.4s both}
.m_news.a_on .ctn .you{animation:fadeLeft 0.8s 1.5s both}


@keyframes width02{
	0%{width: 0%;}
	100%{width: 100%;}
}

@keyframes transUp{
	0%{transform:translateY(340px);}
	100%{transform:translateY(0);}
}

@keyframes transUp02{
	0%{transform:translateY(80px);}
	100%{transform:translateY(0);}
}

@media screen and (max-width:1725px) {
	
	.w1725{padding: 0 50px;}
	.mv .scroll{left: auto; right: 50px;}
	.m_pro .w1725{padding-right: 0;}

	.m_pro .slide_wrap .slide_ctn .item{padding-bottom:660px;}


}

@media screen and (max-width:1557px) {
	.w1565,
	.w1557,
	.w1725{padding: 0 32px;}

	.mv .slide_wrap .slide_txt .item h2{font-size:55px;}
	.mv .slide_wrap .slide_txt .item p{margin-bottom:20px;}
	
	.m_sup .bot .slide_borad .item .txt,
	.m_sup .bot .slide_borad .item .tit{padding-left: 20px;}
	.m_sup .bot .slide_borad .item .tit h4{font-size:20px;}

	.m_news .ctn .you{width: calc(50% - 40px); margin-left: 40px;}
	.m_news .ctn .slide_wrap .slide_ctn .item .txt{padding: 14px;}
	.m_news .ctn .slide_wrap .slide_ctn .item .txt h4{font-size:19px; height: 54px;}

	.m_news .ctn .you .video_ctn .video{padding-bottom:60.1%;}
}

@media screen and (max-width:1500px) {
/* 	.mv .slide_wrap .slide_ctn{height: 100%;} */
	.m_news .ctn .you .video_ctn .video{padding-bottom:60%;}
}

@media screen and (max-width:1400px) {
	.m_tit h3{font-size:38px;}
	.m_tit p{font-size:16px;}

	.m_pro .slide_wrap .slide_ctn{width: calc(100% - 402px);}
	.m_pro .slide_wrap .slide_ui .slide_dots{width: 500px;}
	
	/*.m_val .svg_img .t{width: 66%;}
	.m_val .svg_img .b{width: 55%;}
	.m_val .slide_wrap .slide_ctn{max-width:1000px;}
	.m_val .slide_wrap .slide_ctn .item{margin: 0 15px; padding-bottom:220px;}*/
	
	.m_careers .right{width: 300px;}
	.m_careers .left{width: calc(100% - 300px);}
	
	.m_sup .bot .slide_borad{width: calc(50% - 20px); margin-left: 20px;}
	.m_sup .bot .slide_borad .item .txt p{font-size:15px;}
	.m_sup .bot .slide_borad .item .txt, .m_sup .bot .slide_borad .item .tit{padding-left: 10px;}

	.m_news .ctn .box > h4{font-size:28px;}
	.m_news .ctn .you .video_ctn .video .video_tit p{font-size:20px;}
	.m_news .ctn .slide_wrap .slide_ctn .item .txt p{margin-bottom:10px;}

	
}

@media screen and (max-width:1200px) {
	.w1565,
	.w1557,
	.w1725{padding: 0 16px;}

	.m_pro{padding: 100px 0;}
	
	.mv .scroll{display:none; }
	.mv .slide_wrap{padding-top:80px;}
/* 	.mv .slide_wrap .slide_ctn{height: 100%;} */
	.mv .slide_wrap .slide_ctn{height: calc(100vh - 80px);}
	.mv .slide_wrap .slide_txt .item h2{font-size:45px;}
	.mv .slide_wrap .slide_txt .item a{margin-top: 30px;}
	.mv .slide_wrap .slide_txt .item p{margin-top: 26px;}
	.mv .slide_wrap .slide_ui{bottom: 50px;}
	.mv .slide_wrap .slide_ui .slide_btn{text-align: right;}

	
	.m_pro .w1725{display:block; }
	.m_pro .m_tit{margin: 0;}
	.m_pro .txt_box{margin-right: 40px;}
	.m_pro .txt_box .btn_ctn{position:relative; margin-top:15vw;}
	.m_pro .slide_wrap{width: calc(100% - 286px);}
	.m_pro .slide_wrap .slide_ui{display:flex; flex-wrap:wrap}
	.m_pro .slide_wrap .slide_ui .slide_dots{width: 100%; margin-top:-20px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot{display:inline-block; width: 20%; vertical-align: top; padding: 20px 16px 40px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot.on{width: 20%;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt h4{font-size:18px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt p{margin-top:10px; font-size:13px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt br{display:block}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .arrow_img{top: 83%; right: 20px;}

	.m_pro .slide_wrap .slide_ui .slide_btn{bottom: 23px;}
	.m_pro .slide_wrap .slide_ctn{width: 100%; order:-1; margin-left: 0;}
	.m_pro .slide_wrap .slide_ctn .item{padding-bottom:13%;}

	.m_since{padding-top:80px;}
	.m_since .cont .top{margin: 0 auto; width: 100%; transform:translateY(340px);}
	.m_since .cont .top .mbox{padding: 60px 50px;}
	.m_since .cont .top h3{font-size:45px;}
	.m_since .cont .top h3::after{right: 9vw;}
	.m_since .cont .top p{font-size:16px; margin-top:30px;}
	.m_since .cont .bot .item{padding-left: 40px;}
	.m_since .cont .bot .item h4{font-size:24px; margin: 22px 0;}
	.m_since .cont .bot .item a{margin-top:20px;}
	.m_since .cont .bot::after{display:none; }

	.m_val{padding: 100px 0;}
	.m_val .ctn .item{padding: 80px 0 20px;}
	/*.m_val .slide_wrap{margin-top:60px;}
	.m_val .slide_wrap .slide_ctn{width: calc(100% - 120px); max-width:none;}
	.m_val .slide_wrap .slide_ctn .item{padding-bottom:18.15%}*/

	.m_careers{padding: 100px 0;}
	.m_careers .w1557{padding-top: 0;}
	.m_careers .left{padding: 40px;}

	.m_sup{padding: 100px 0; background: url(/img/main/m_sup_bg.jpg) 50% 50% no-repeat; background-size:cover}
	.m_sup .top .link ul li{margin-right: 20px; width: calc(50% - 10px);}
	.m_sup .top .link ul li a{font-size:20px;}
	.m_sup .mid .borad .list .item{padding: 30px 15px;}
	.m_sup .mid .borad .list .item .tag{margin-bottom:14px;}
	.m_sup .mid .borad .list .item .txt{font-size:16px; height: 72px; -webkit-line-clamp:3}
	.m_sup .bot > h4{margin-bottom:16px;}
/* 	.m_sup .mid .borad .list{margin-top:16px;} */
	.m_sup .bot .search_pro{width: 100%; margin-bottom:20px;}
	.m_sup .bot .slide_borad{width: 100%; margin-left: 0;}

	.m_news{padding: 100px 0;}
	
	.m_news .ctn{text-align: center;}
	.m_news .ctn .box{width: 100%;text-align: left;}
	.m_news .ctn .you{width: 80%; margin-top:40px; margin-left: 0;}


	/* m_ani */
	.m_news .ctn .you,
	.m_news .ctn .slide_wrap .slide_ctn.ani,
	.m_news .ctn .box > h4.ani,
	.m_news .ctn .slide_wrap .slide_ui .slide_btn.ani,
	.m_news .m_tit p.ani,
	.m_news .m_tit h3.ani,
	.m_sup .bot .search_pro.ani,
	.m_sup .bot .slide_borad.ani,
	.m_sup .mid .borad .list .item.ani,
	.m_sup .bot > h4.ani,
	.m_sup .mid .borad h4.ani,
	.m_sup .top .link ul.ani li,
	.m_sup .top .m_tit p.ani,
	.m_sup .top .m_tit h3.ani,
	.m_careers .left.ani,
	.m_careers .right ul.ani li,
	.m_careers .m_tit h3.ani,
	/* .m_val .slide_wrap .slide_ctn .item.ani, */
	.m_val .ctn .item.ani,
	.m_val .m_tit p.ani,
	.m_val .m_tit h3.ani,
	.m_since .cont .bot .item.ani,
	.m_pro .slide_wrap .slide_ui .slide_dots.ani .dot,
	.m_pro .slide_wrap .slide_ui .slide_btn.ani{opacity: 0;}

	.m_pro .slide_wrap .slide_ui .slide_btn.m_ani{animation:fadeIn 0.8s 0s both}
	.m_pro .slide_wrap .slide_ui .slide_dots.m_ani .dot:nth-of-type(1){animation:up 0.8s 0s both}
	.m_pro .slide_wrap .slide_ui .slide_dots.m_ani .dot:nth-of-type(2){animation:up 0.8s 0.2s both}
	.m_pro .slide_wrap .slide_ui .slide_dots.m_ani .dot:nth-of-type(3){animation:up 0.8s 0.4s both}
	.m_pro .slide_wrap .slide_ui .slide_dots.m_ani .dot:nth-of-type(4){animation:up 0.8s 0.6s both}
	.m_pro .slide_wrap .slide_ui .slide_dots.m_ani .dot:nth-of-type(5){animation:up 0.8s 0.8s both}
	
	
	.m_since .cont .top.m_ani{animation:transUp 1s 0.2s both}
	.m_since .cont .top.m_ani h3 span span{animation:fadeIn 0.4s 0s both}
	.m_since .cont .top.m_ani h3::after{animation:width 0.8s 1s both}
	.m_since .cont .top.m_ani p span span{animation:fadeIn 0.4s 0s both}

	.m_since .cont .bot .item.m_ani:nth-of-type(1){animation:scale 0.8s 0s both}
	.m_since .cont .bot .item.m_ani:nth-of-type(2){animation:scale 0.8s 0.2s both}
	.m_since .cont .bot .item.m_ani:nth-of-type(3){animation:scale 0.8s 0.4s both}

	.m_val .m_tit h3.m_ani{animation:up 0.8s 0s both}
	.m_val .m_tit p.m_ani{animation:up 0.8s 0.2s both}
	.m_val .ctn .item.m_ani:nth-of-type(1){animation:scale 0.8s 0s both}
	.m_val .ctn .item.m_ani:nth-of-type(2){animation:scale 0.8s 0.2s both}
	.m_val .ctn .item.m_ani:nth-of-type(3){animation:scale 0.8s 0.4s both}
	.m_val .ctn .item.m_ani:nth-of-type(4){animation:scale 0.8s 0.6s both}
	/* .m_val .slide_wrap .slide_ctn .item.m_ani:nth-of-type(1){animation:scale 0.8s 0s both}
	.m_val .slide_wrap .slide_ctn .item.m_ani:nth-of-type(2){animation:scale 0.8s 0.2s both}
	.m_val .slide_wrap .slide_ctn .item.m_ani:nth-of-type(3){animation:scale 0.8s 0.4s both} */

	.m_careers .m_tit h3.m_ani{animation:fadeRight 0.8s 0s both}
	.m_careers .right ul.m_ani li:nth-of-type(1){animation:up 0.8s 0s both}
	.m_careers .right ul.m_ani li:nth-of-type(2){animation:up 0.8s 0.2s both}
	.m_careers .right ul.m_ani li:nth-of-type(3){animation:up 0.8s 0.4s both}
	.m_careers .left.m_ani{animation:scale 1.2s 0.2s both}

	.m_sup .top .m_tit h3.m_ani{animation:fadeRight 0.8s 0s both}
	.m_sup .top .m_tit p.m_ani{animation:fadeRight 0.8s 0s both}
	.m_sup .top .link ul.m_ani li:nth-of-type(1){animation:fadeRight 0.8s 0.2s both}
	.m_sup .top .link ul.m_ani li:nth-of-type(2){animation:fadeRight 0.8s 0.4s both}
	.m_sup .top .link ul.m_ani li:nth-of-type(3){animation:fadeRight 0.8s 0.2s both}
	.m_sup .top .link ul.m_ani li:nth-of-type(4){animation:fadeRight 0.8s 0.4s both}
	.m_sup .mid.m_ani::after{animation:height 0.8s 0s both}
	.m_sup .bot > h4.m_ani,
	.m_sup .mid .borad h4.m_ani{animation:fadeIn 0.8s 0.2s both}
	.m_sup .mid .borad .list.m_ani .item:nth-of-type(1){animation:scale 0.8s 0.2s both}
	.m_sup .mid .borad .list.m_ani .item:nth-of-type(2){animation:scale 0.8s 0.4s both}
	.m_sup .mid .borad .list.m_ani .item:nth-of-type(3){animation:scale 0.8s 0.6s both}
	.m_sup .mid .borad .list.m_ani .item:nth-of-type(4){animation:scale 0.8s 0.8s both}
	.m_sup .bot .slide_borad.m_ani,
	.m_sup .bot .search_pro.m_ani{animation:fadeUp 0.8s 0.4s both}

	.m_news .m_tit h3.m_ani{animation:up 0.8s 0s both}
	.m_news .m_tit p.m_ani{animation:up 0.8s 0.2s both}
	.m_news .ctn .slide_wrap .slide_ui .slide_btn.m_ani,
	.m_news .ctn .box > h4.m_ani{animation:fadeIn 0.8s 0.2s both}
	.m_news .ctn .slide_wrap .slide_ctn.m_ani{animation:scale 0.8s 0.2s both}
	.m_news .ctn .you.m_ani{animation:fadeUp 0.8s 0.2s both}
	/* m_ani */
}

@media screen and (max-width:1000px) {
	.m_tit{text-align: center;}
	.m_tit p br,
	.m_tit h3 br{display:none; }
	.m_tit h3{font-size:32px;}

/* 	.mv .slide_wrap .slide_ctn{height: 500px;} */
/* 	.mv .slide_wrap .slide_ctn .item .bg{height: auto; padding-bottom: 56.3%;} */
	.mv .slide_wrap .slide_ctn .item .bg video{position:absolute; height: 100%; top: 0; left: 0;}
	.mv .slide_wrap .slide_ui{bottom: 50px;}
	.mv .slide_wrap .slide_txt{top: 40%;}
	.mv .slide_wrap .slide_txt .item h2{font-size:38px;}
	.mv .slide_wrap .slide_txt .item p span{font-size:18px;}

	.wrap.orientation .mv .slide_wrap .slide_ctn{min-height: 600px;}
	.header.orientation .sitemap .left_bg{height: 80px;}
	.header.orientation .sitemap nav > ul{min-height: 100px; height: calc(100vh - 150px);}
	.header.orientation .sitemap nav > ul > li > a{font-size:30px;}
	.header.orientation .sitemap nav > ul > li > ul > li > a{font-size:18px; padding: 5px 10px;}


	.m_pro{padding: 80px 0;}
	.m_pro .w1725{padding: 0 16px;}
	.m_pro .txt_box{width: 100%;}
	.m_pro .txt_box .btn_ctn{margin:40px 0}
	.m_pro .txt_box .btn_ctn > ul{text-align: center;}
	.m_pro .txt_box .btn_ctn > ul > li{display:inline-block; vertical-align: top; margin-right: 20px; margin-bottom:0;}
	.m_pro .txt_box .btn_ctn > ul > li:last-of-type{margin-right: 0;}
	.m_pro .slide_wrap{width: 100%;}
	.m_pro .txt_box .btn_ctn .pop_ctn{top: 100px; left: 50%; transform:translate(-50%,0)}
	.m_pro .txt_box .btn_ctn .pop_ctn .close_btn{left: 50%; transform:translate(-50%,0); top: -20px;}
	
	.m_since{padding: 80px 0;}
	.m_since .cont .top .mbox{padding: 40px;}
	.m_since .cont .top h3{font-size:38px;}
	.m_since .cont .top h3::after{bottom: -6px; left: 0; width: 100%;}
	.m_since .cont .bot{padding: 40px 20px;}
	.m_since .cont .bot .item{width: 100%; padding-left: 0; border-bottom: 1px solid #cfcfcf; padding: 20px 0; box-sizing:border-box;}
	.m_since .cont .bot .item:last-of-type{border-bottom: none;}
	.m_since .cont .bot .item::after{display:none; }
	.m_since .cont .bot .item figure{vertical-align: middle;}
	.m_since .cont .bot .item h4{display:inline-block; vertical-align: middle; width: calc(100% - 59px); margin: 0; padding-left: 20px; box-sizing:border-box;}
	.m_since .cont .bot .item p br{display:none; }
	.m_since .cont .bot .item p{display:inline-block; width: calc(100% - 90px); vertical-align: middle; margin-top:10px;}
	.m_since .cont .bot .item a{display:inline-block; vertical-align: middle; margin-top:0;}
	
	.m_news,
	.m_careers,
	.m_val{padding: 80px 0;}
	
	.m_careers .right{width: 100%;}
/* 	.m_careers .right .m_tit.c h3{color: #222;} */
	.m_careers .right ul{margin-top:20px; text-align: center;}
	.m_careers .right ul li{position:relative; display:inline-block; width: calc(33.3% - 15px); vertical-align: top; margin-right: 10px; border-bottom: 1px solid #fff; box-sizing:border-box; padding: 0 14px;}
	.m_careers .right ul li:last-of-type{margin-right: 0;}
	.m_careers .right ul li a i,
	/* .m_careers .right ul li a{color: #222;} */
	.m_careers .right ul li a i{display:none; }
	.m_careers .left{width: 100%;}

	.m_sup{padding: 80px 0;}
	.m_sup .top .m_tit{width: 100%;}
	.m_sup .top .link{width: 100%;}
	.m_sup .mid .borad .list .item{width: calc(50% - 15px); margin-bottom:20px;}
	.m_sup .mid .borad .list .item:nth-of-type(2n){margin-right: 0;}
	.m_sup .mid .borad .list .item:nth-of-type(n + 3){margin-bottom:0;}
	
	.m_val .m_tit{padding: 0 16px;}
	.m_val .ctn{margin-top: 50px;}
	.m_val .ctn .item{width: 100%; padding: 16px; transition:0.6s}
	.m_val .ctn .item:last-of-type{margin-bottom:0;}
	.m_val .ctn .item:hover{background: rgba(255, 240, 0, 0.3);}
	.m_val .ctn .item .txt h4{font-size:26px; margin: 10px 0 16px;}
	.m_val .ctn .item .txt .num{margin-top: 0;}
	.m_val .ctn .item .txt{display:inline-block; width: calc(100% - 68px); vertical-align: middle; text-align: left;}
	.m_val .ctn .item .go{vertical-align: middle; margin-top: 0;}
	.m_val .bg_box{display:none; }

}

@media screen and (max-width:840px) {
	.m_news,
	.m_sup,
	.m_careers,
	.m_val,
	.m_since,
	.m_pro{padding: 60px 0;}
	
	.mv .slide_wrap .slide_txt .item h2{font-size:30px;}
	.mv .slide_wrap .slide_txt .item a{margin-top: 20px;}
	.mv .slide_wrap .slide_ui{bottom: 16px;}

	.m_pro .slide_wrap .slide_ui .slide_dots{padding-left: 60px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot{padding: 20px 5px 40px 10px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt h4{font-size:15px;}
	.m_pro .txt_box .btn_ctn > ul > li a{height: 60px; line-height:60px}
	.m_pro .txt_box .btn_ctn .pop_ctn{width: 100%;}
	.m_pro .txt_box .btn_ctn .pop_ctn dl{padding-left: 20px;}

	.m_careers .right ul li a{font-size:18px;}
	.m_careers .left{margin-top:40px; padding: 40px 20px;}
	.m_careers .left h4{font-size:24px;}
	.m_careers .left ul li{padding: 20px 10px 20px;}
	.m_careers .left ul li p{font-size:18px;}

	.m_sup .mid .borad .borad_tit{width: 100%;}
	.m_sup .mid .borad .list{width: 100%;}
	.m_sup .mid .borad .borad_tit .p{position:static; transform:translateY(0); padding: 20px 40px;}
	.m_sup .mid .borad .borad_tit .p h3{font-size:26px; margin-bottom:8px;}
	.m_sup .mid .borad .borad_tit .p h4{display:inline-block; width: calc(100% - 50px); vertical-align: bottom;}
	.m_sup .mid .borad .borad_tit .p h4 > br{display:none; }
	.m_sup .mid .borad .borad_tit .p a{width: 50px; margin-top: 10px;}

	.m_news .ctn .you{width: 100%;}
	.m_news .ctn .you .video_ctn figure{padding: 20px 0 20px 30px;}
	.m_news .ctn .you .video_ctn .video .video_tit p{line-height:60px; font-size:17px;}
	.m_news .ctn .slide_wrap .slide_ctn .item .txt h4{font-size:17px;}
	
	.m_since .cont .top p{white-space: initial;}
	.m_since .cont .top p span{line-height: 1.4em; display:inline; }
	.m_since .cont .top p br{display:none; }
	.m_since .cont .top.m_ani{animation:transUp 1s 0.2s both}
	.m_since .cont .top.m_ani p span span{animation:none}

}

@media screen and (max-width:620px) {
/* 	.mv .slide_wrap .slide_ctn{height: 400px;} */
	.mv .slide_wrap .slide_ctn{height: calc(100vh - 80px); height: calc((var(--vh, 1vh) * 100) - 80px); }
	.mv .slide_wrap .slide_txt{top: 35%;}
	/* .mv .slide_wrap .slide_txt .item h2{font-size:26px;} */
/* 	.mv .slide_wrap .slide_txt .item p{padding-left: 40px;} */
	.mv .slide_wrap .slide_txt .item.slick_now p::after{width: 30px;}/* 
	.mv .slide_wrap .slide_txt .item p span{font-size:14px;} */
	.mv .slide_wrap .slide_ui{display:inline-block; vertical-align: top; width: auto; right: 0; left: auto; bottom: 130px;}
	.mv .slide_wrap .slide_ui .slide_btn{display:none; }
	.mv .slide_wrap .slide_ui .left_box{width: 100%; text-align: right;}
	.mv .slide_wrap .slide_txt .item p{margin: 16px 0 10px;}
	.mv .slide_wrap .slide_txt .item a{font-size:15px; height: 40px; width: 160px; line-height: 36px;}


	.m_pro .txt_box .btn_ctn > ul li{width: calc(50% - 10px); max-width:220px;}
	.m_pro .txt_box .btn_ctn > ul > li a{width: 100%; font-size:15px;}
	.m_pro .txt_box .btn_ctn .pop_ctn dl:first-of-type{margin-top:10px;}
	.m_pro .txt_box .btn_ctn .pop_ctn dl{width: 100%; padding-left: 0; text-align: center; margin-bottom:16px;}
	.m_pro .txt_box .btn_ctn .pop_ctn dl:last-of-type{margin-bottom:0;}
	.m_pro .slide_wrap .slide_ui .slide_dots{display:flex; flex-wrap:wrap; margin-top:30px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot{width: calc(33.3% - 9px); margin-right: 13.5px; padding: 10px;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot.on{width: calc(33.3% - 9px);}

	.m_pro .slide_wrap .slide_ui .slide_dots .dot:nth-of-type(3n){margin-right: 0;}
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt br{display:none; }
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .arrow_img{display:none; }
	.m_pro .slide_wrap .slide_ui .slide_dots .dot .txt p{margin-top:5px; font-size:12px;}
	.m_pro .slide_wrap .slide_ui .slide_btn{bottom: 0;}
	.m_pro .txt_box .btn_ctn > ul > li a i{display:none; }
	
	.m_since .cont .top{margin-bottom: 20px;}
	.m_since .cont .top .mbox{padding: 40px 30px; }
	.m_since .cont .bot{padding: 20px;}
	
	/*.m_val .slide_wrap .slide_ui .slide_btn div{transform:translateY(-50%) scale(0.8)}
	.m_val .slide_wrap .slide_ctn{width: calc(100% - 80px);}
	.m_val .slide_wrap .slide_ctn .item{margin: 0 5px;}
	.m_val .slide_wrap .slide_ctn .item p{font-size:20px;}
	.m_val .slide_wrap .slide_ui .slide_btn .next{right: -14px;}
	.m_val .slide_wrap .slide_ui .slide_btn .prev{left: -14px;}*/

	.m_sup .mid .borad .list .item{width: 100%; margin-right: 0; height: auto; margin-bottom:15px;}
	.m_sup .mid .borad .list .item .txt{height: 48px;}
	.m_sup .mid .borad .list .item:nth-of-type(n + 3){margin-bottom:15px;}
	
	.m_sup .bot .slide_borad{padding: 20px;}
	.m_sup .bot .slide_borad .item.on,
	.m_sup .bot .slide_borad .item{width: 100%; white-space:normal; padding: 20px 0;}
	.m_sup .bot .slide_borad .item{border-bottom: 1px solid #e1e1e1;}
	.m_sup .bot .slide_borad .item:last-of-type{border-bottom: none;}
	.m_sup .bot .slide_borad .item::after{display:none; }
	.m_sup .bot .slide_borad .item .tit{width: 40%; padding-left: 0;}
	.m_sup .bot .slide_borad .item .txt{width: 60%;}
	.m_sup .bot .slide_borad .item .tit a{background: #e30000; color: #fff;}
	.m_sup .bot .slide_borad .item .tit h4{color: #e30000;}
}

/* ani tool */


@keyframes height{
	0%{height:100%}
	100%{height:0%}
}

@keyframes width{
	0%{width:0}
	100%{width:61%}
}

@keyframes scale{
	0%{transform:scale(0.6); opacity: 0;}
	100%{transform:scale(1); opacity: 1;}
}

@keyframes upDown{
	0%{transform:translateY(-40px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes up{
	0%{transform:translateY(100px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeUp{
	0%{transform:translateY(180px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fadeLeft{
	0%{transform:translateX(180px); opacity: 0;}
	100%{transform:translateX(0); opacity: 1;}
}

@keyframes fadeRight{
	0%{transform:translateX(-180px); opacity: 0;}
	100%{transform:translateX(0); opacity: 1;}
}

@keyframes move{
	0%{transform:translateX(-10px) translateY(-50%); opacity: 0;}
	100%{transform:translateX(10px) translateY(-50%); opacity: 1;}
}